# Node
node_modules/

# Env & Certs
.env
*.pem

# Logs
logs/
!logs/.gitkeep

# Uploads (Bilder etc.)
public/uploads/*
!public/uploads/.gitkeep

# macOS & Editor
.DS_Store
**/.DS_Store
.vscode/
.idea/
